#index{
    margin-left: 30px;
}
#index2{
    margin-left: 30px;
}
#index3{
    margin-left: 30px;
}
#index4{
    margin-left: 30px;
    margin-top: 160px;
}
#index5{
    margin-left: 30px;
    margin-top: 160px;
}
#index6 {
        margin-left: 30px;
}
#index7{
    margin-left: 30px;
}
#index8{
    margin-left: 30px;
}
#index9{
    margin-left: 30px;
}
#index10{
    margin-left: 30px;
}
#index11{
    margin-left: 30px;
}
#index12{
    margin-left: 30px;
}
#index13{
    margin-left: 30px;
}
#index14{
    margin-left: 30px;
    margin-top: 160px;
}
#index15{
    margin-left: 30px;
    margin-top: 160px;
}
#index16 {
    margin-left: 30px;
}
#index17 {
    margin-left: 30px;
}
#index18 {
    margin-left: 30px;
}

